.header {
 display: flex;
 height: 80px;
 width: 100%;
 position: fixed;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 justify-content: flex-start;
 align-items: center;
 flex-grow: 1;
}

#logo {
  display: flex;
  color: MediumAquaMarine;
  width: 75%;
  justify-content: flex-start;
  align-items: center;
}

#nav {
  display: inline-flex;
  width: 25%;
  justify-content: space-around;
}

#myt {
   display: flex;
   align-items: center;
 }

 .column.large {
  width: 630px;
  border: 3px solid black;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
